/* Colors */
$white: #FFF;
$deep-cove: #0B0E41;
$academic-blue: #111457;
$flama-red: #FC1244;
$dark-gray: #718096;
$dark-gray-border: #4D529F;

/* Fonts */
$default-section-font: "Collier";
$default-section-font-size: 18px;

.block.block_aprende_coursenavigation {
    border: none;
    border-top: 1px solid $dark-gray-border;
    margin: 0!important;
    & > .card-body {
        background: $deep-cove;
    }
    .course-info {
        padding: 28px 24px;
        .course-info__title {
            font-family: Collier;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 36px;
            /* identical to box height */
            color: $white;
            margin: 0;
        }
        .course-info__category {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.02em;
            text-transform: uppercase;

            /* White */
            color: $white;
        }
    }
    .section-group {
        background: $deep-cove;
    }
    // Collapsed sections
    .section {
        border-bottom: 1px solid #252b65;
        padding: 30px 0 12px 0;
        margin: 10px;
        &.current {
            background: $academic-blue;
            border-radius: 8px;
            border: none;
        }
        .availability-info {
            background: none;
            border: none;
            padding: 0;
            margin-left: 0;
            min-width: 30px;
            min-height: 30px;
        }
    }
    > .card-body {
        padding: 0 !important;
        & > .card-title {
            display: none !important;
        }
        & > .content {
            margin: 0 !important;
        }
    }

    .module-navigation-section-heading {
        position: relative;
        padding-right: 8px;
    }
    .section-heading__subtitle {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.02em;
        letter-spacing: 0;
        text-transform: uppercase;

        color: $white;
        position: absolute;
        top: -16px;
        left: 32px;
        > i {
            color: $flama-red;
        }
    }
    .section-body .activities {
        padding: 8px 8px 8px 40px;
        margin: 0;
    }
    .section-title {
        .availability-info {
            > img {
                margin: 0;
                width: 25px;
                height: 25px;
            }
        }
    }
    .section-title, .section-body .activities > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .section-title__icon {
        transform: translateY(-2px);
    }

    .section-title__link {
        margin-left: 4px;
        > a, span {
            color: $white;
            font-family: $default-section-font;
            font-size: $default-section-font-size;
            font-style: normal;
            font-weight: normal;
            line-height: 19px;
        }
    }
    .section-body {
        .activities > li {
            position: relative;
            list-style: none;
            padding: 10px 0;
            .availability-info {
                > img {
                    margin: 0;
                    width: 28px;
                    height: 28px;
                    transform: translate(-7px);
                }
            }
        }
    }
    .activity-title__icon {
        transform: translateX(-6px);
        min-width: 26px;
        > img {
            width: 20px;
            height: 20px;

        }
    }
    .activity-title__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .activityname {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: $white;
        }
        > a:hover {
            text-decoration: underline;
            text-decoration-color: $white;
        }
        > .optional-badge {
            background: #F6F6F9;
            border-radius: 4px;
            font-size: 9px;
            color: #718096;
            padding: 2px 2px 2px 4px;
            > .icon {
                cursor: pointer;
                margin: 0;
            }
        }
    }
    .content-separator {
        .title {
            font-family: Collier;
            color: #FC1244;
            font-weight: 400;
            font-size: 20px;
            border-left: 3px solid #fc1244;
            padding: 1px 6px;
            transform: translateX(-4px);
        }
    }
}
