// remove this
#nav-drawer {
    width: 360px;
    padding: 0;
    > .list-group {
        display: none;
    }
}

/* Colors */
$deep-cove: #0B0E41;
$white: #FFF;

/* Fonts */
$default-section-font: "Collier";
$default-section-font-size: 17px;


.block.block_course_modulenavigation {
    border: none;
    .section-group {
        background: $deep-cove;
        padding: 10px;
    }
    // Collapsed sections
    .section {
        padding: 10px;
        background: $deep-cove;
    }
    // Expanded section
    .section:first-child {
        /* Academy Blue */
        background: #111457;
        border-radius: 8px;
    }
    > .card-body {
        padding: 0 !important;
        & > .card-title {
            display: none !important;
        }
        & > .content {
            margin: 0 !important;
        }
    }

    .module-navigation-section-heading {
        position: relative;
    }
    .section-heading__subtitle {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;

        letter-spacing: -0.02em;
        letter-spacing: 0;
        text-transform: uppercase;

        position: absolute;
        top: 0;
        left: 36px;
        color: $white;
    }
    .section-body .activities {
        margin: 0;
    }
    .section-title, .section-body .activities > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .section-title {
        height: 50px;
    }

    .section-title__link {
        > a {
            color: $white;
            font-family: $default-section-font;
            font-size: $default-section-font-size;
            font-style: normal;
            font-weight: normal;
            line-height: 19px;
        }
    }
    .section-title__icon {
        > img {
            width: 30px;
            height: 30px;
        }
    }


    .section-body {
        .activities > li {
            list-style: none;
            height: 32px;
        }
    }
    .activity-title__icon {
        > img {
            width: 25px;
            height: 25px;
        }
    }
    .activity-title__link {
        > a{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: $white;
        }
    }
}
