/* Colors */
/* Fonts */
.block.block_aprende_coursenavigation {
  border: none;
  border-top: 1px solid #4D529F;
  margin: 0 !important; }
  .block.block_aprende_coursenavigation > .card-body {
    background: #0B0E41; }
  .block.block_aprende_coursenavigation .course-info {
    padding: 28px 24px; }
    .block.block_aprende_coursenavigation .course-info .course-info__title {
      font-family: Collier;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 36px;
      /* identical to box height */
      color: #FFF;
      margin: 0; }
    .block.block_aprende_coursenavigation .course-info .course-info__category {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      /* White */
      color: #FFF; }
  .block.block_aprende_coursenavigation .section-group {
    background: #0B0E41; }
  .block.block_aprende_coursenavigation .section {
    border-bottom: 1px solid #252b65;
    margin: 0;
    padding: 0;
    padding-bottom: 8px; }
    .block.block_aprende_coursenavigation .section:hover {
      cursor: pointer; }
    .block.block_aprende_coursenavigation .section.current {
      border: none;
      transition: all 250ms ease;
      background: #191c50; }
    .block.block_aprende_coursenavigation .section .availability-info {
      background: none;
      border: none;
      padding: 0;
      margin-left: 0;
      min-width: 30px;
      min-height: 30px; }
  .block.block_aprende_coursenavigation > .card-body {
    padding: 0 !important; }
    .block.block_aprende_coursenavigation > .card-body > .card-title {
      display: none !important; }
    .block.block_aprende_coursenavigation > .card-body > .content {
      margin: 0 !important; }
  .block.block_aprende_coursenavigation .module-navigation-section-heading {
    position: relative;
    padding: 26px 4px 8px 4px;
    min-height: 64px; }
  .block.block_aprende_coursenavigation .section-heading__subtitle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.02em;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    top: 12px;
    left: 36px; }
    .block.block_aprende_coursenavigation .section-heading__subtitle > i {
      color: #FC1244; }
  .block.block_aprende_coursenavigation .section-body .activities {
    background: #111457;
    padding: 0;
    margin: 10px 14px;
    border: 1px solid #33356e;
    border-radius: 6px; }
  .block.block_aprende_coursenavigation .section-title .availability-info > img {
    margin: 0;
    width: 25px;
    height: 25px; }
  .block.block_aprende_coursenavigation .section-title, .block.block_aprende_coursenavigation .section-body .activities > li {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .block.block_aprende_coursenavigation .section-title__icon {
    min-width: 28px; }
  .block.block_aprende_coursenavigation .section-title__link {
    margin-left: 4px; }
    .block.block_aprende_coursenavigation .section-title__link > a, .block.block_aprende_coursenavigation .section-title__link span {
      color: #FFF;
      font-family: "Collier";
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      line-height: 19px; }
    .block.block_aprende_coursenavigation .section-title__link a i {
      padding: 0 10px;
      font-size: 12px;
      transition: all 250ms ease; }
    .block.block_aprende_coursenavigation .section-title__link a[aria-expanded="true"] i {
      transform: rotate(180deg); }
  .block.block_aprende_coursenavigation .section-body .activities > li {
    position: relative;
    list-style: none;
    padding: 10px 12px 10px 12px; }
    .block.block_aprende_coursenavigation .section-body .activities > li .availability-info > img {
      margin: 0;
      width: 28px;
      height: 28px; }
      .block.block_aprende_coursenavigation .section-body .activities > li .availability-info > img[src*="locked-info"] {
        transform: translate(-7px, -2px); }
    .block.block_aprende_coursenavigation .section-body .activities > li.current {
      background: #232664; }
  .block.block_aprende_coursenavigation .activity-title__icon {
    min-width: 26px; }
    .block.block_aprende_coursenavigation .activity-title__icon > img {
      width: 20px;
      height: 20px; }
    .block.block_aprende_coursenavigation .activity-title__icon > img[src*="completion-auto-fail"] {
      width: 32px;
      height: 32px;
      margin-right: 0; }
  .block.block_aprende_coursenavigation .activity-title__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .block.block_aprende_coursenavigation .activity-title__link .activityname {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: #FFF; }
    .block.block_aprende_coursenavigation .activity-title__link > a:hover {
      text-decoration: underline;
      text-decoration-color: #FFF; }
    .block.block_aprende_coursenavigation .activity-title__link > .optional-badge {
      background: #F6F6F9;
      border-radius: 4px;
      font-size: 9px;
      color: #718096;
      padding: 2px 2px 2px 4px; }
      .block.block_aprende_coursenavigation .activity-title__link > .optional-badge > .icon {
        cursor: pointer;
        margin: 0; }
  .block.block_aprende_coursenavigation .content-separator .title {
    font-family: Collier;
    color: #FC1244;
    font-weight: 400;
    font-size: 20px;
    border-left: 3px solid #fc1244;
    padding: 1px 6px; }

/*# sourceMappingURL=styles.css.map */