{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    block_aprende_coursenavigation
    @copyright  2019 Pimenko <contact@pimenko.com> <pimenko.com>
    @author     Sylvain Revenu | Nick Papoutsis | Bas Brands | Pimenko
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block-course_modulenavigation/coursenave

    Block template for navigation

    The purpose of this template is render a navigation block in course contexts.
    This template renders all the visible sections in a course.

    Classes required for JS:
    * none

    Context variables required for this template:
    * sections Array of course sections containing arrays of modules

    Example context (json):
    {
        "sections": [
            {
                "number":1,
                "title":"Topic 1",
                "url":{},
                "selected":false,
                "collapse":false,
                "onlytitles":false,
                "modules":[
                            {
                                "name":"Test",
                                "url":{},
                                "onclick":{},
                                "completeclass":"incomplete"
                            }
                        ],
                "hasmodules":true
            }
        ]
    }
}}

<div class="section-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="course-info">
        <a href="{{courseurl}}">
            <h1 class="course-info__title">{{coursename}}</h1>
        </a>
        {{#coursecategory}}
            <span class="course-info__category">{{{.}}}</span>
        {{/coursecategory}}
    </div>
    {{#sections}}
        <div class="section section-default">
            <div class="module-navigation-section-heading" role="tab" id="heading{{number}}">
                <div class="section-title">
                    {{#sectionlabel}}
                        <span class="section-heading__subtitle">
                            {{{sectionlabel}}}
                            <i class="fa {{{sectionlabelicon}}}" aria-hidden="true"></i>
                        </span>

                    {{/sectionlabel}}
                    {{#collapse}}
                        <a href="{{{url}}}" title="{{{title}}}">
                            {{> block_aprende_coursenavigation/coursenav_sectionname }}
                        </a>
                    {{/collapse}}
                    {{^collapse}}
                        {{#onlytitles}}
                            <a href="{{{url}}}" title="{{{title}}}">
                                {{> block_aprende_coursenavigation/coursenav_sectionname }}
                            </a>
                        {{/onlytitles}}
                        {{^onlytitles}}
                            {{#restricted}}
                            <div class="section-title__icon">
                                <button type="button" class="availability-info" data-toggle="popover"
                                        data-container="body" data-placement="bottom" data-content="{{conditions}}" data-html="true">
                                    {{#pix}}i/locked-info, format_aprendetopics{{/pix}}
                                </button>
                            </div>
                            <div class="section-title__link">
                                <span title="{{title}}">
                                    {{> block_aprende_coursenavigation/coursenav_sectionname }}
                                </span>

                            </div>
                            {{/restricted}}
                            {{^restricted}}
                            <div class="section-title__icon">
                                {{#lastviewed}}
                                <span type="button" class="availability-info">
                                    {{#pix}}i/continue, block_aprende_coursenavigation{{/pix}}
                                </span>
                                {{/lastviewed}}
                            </div>
                            <div class="section-title__link w-100">
                                <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" href="#collapse{{number}}"
                                   aria-expanded="false" aria-controls="collapse{{number}}" title="{{{title}}}">
                                    {{> block_aprende_coursenavigation/coursenav_sectionname }}
                                    <div>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            {{/restricted}}
                        {{/onlytitles}}
                    {{/collapse}}
                </div>
            </div>

            <!-- This is the collapse -->
            <div id="collapse{{number}}" data-parent="#accordion" class="section-collapse collapse" role="tabsection" aria-labelledby="heading{{number}}">
                <div class="section-body">
                    <ul class="activities">
                        {{#modules}}
                            {{^onlytitles}}
                                <li class="{{#currentinpage}}current{{/currentinpage}}">
                                    {{^label}}
                                    <div class="activity-title__icon">
                                        {{#available}}
                                            {{#currentinpage}}
                                                <button type="button" class="availability-info" data-toggle="popover"
                                                        data-container="body" data-placement="bottom" data-content="Continue from here" data-html="true">
                                                    {{#pix}}i/continue, block_aprende_coursenavigation{{/pix}}
                                                </button>
                                            {{/currentinpage}}
                                            {{^currentinpage}}
                                                {{#completionon}}
                                                    {{#completed}}
                                                        {{#pix}}i/completion-auto-pass, core, {{#str}}completion-y, block_aprende_coursenavigation{{/str}}{{/pix}}
                                                    {{/completed}}
                                                    {{^completed}}
                                                        {{^completedfail}}
                                                            {{#pix}}i/completion-manual-n, core, {{#str}}completion-n, block_aprende_coursenavigation{{/str}}{{/pix}}
                                                        {{/completedfail}}
                                                        {{#completedfail}}
                                                            {{#pix}}i/completion-auto-fail, core, {{#str}}completion-n, block_aprende_coursenavigation{{/str}}{{/pix}}
                                                        {{/completedfail}}
                                                    {{/completed}}
                                                {{/completionon}}
                                            {{/currentinpage}}
                                        {{/available}}
                                        {{^available}}
                                            <button type="button" class="availability-info" data-toggle="popover"
                                                    data-container="body" data-placement="bottom" data-content="{{conditions}}" data-html="true">
                                                {{#pix}}i/locked-info, format_aprendetopics{{/pix}}
                                            </button>
                                        {{/available}}
                                    </div>
                                    <div class="activity-title__link">
                                        {{#available}}
                                            <a href="{{{url}}}" class="{{active}} {{#label}}modulenavigationlabel{{/label}}" onclick="{{{onclick}}}" title="{{name}}">
                                                <div class="activityname {{#optional}}{{#str}}optional, block_aprende_coursenavigation{{/str}}{{/optional}}">
                                                    {{#shortentext}} 80, {{{name}}}{{/shortentext}}
                                                </div>
                                            </a>
                                            {{#optional}}
                                                <span class="badge badge-light optional-badge" data-toggle="tooltip" data-placement="bottom" data-title="{{#str}}optionalmsg, block_aprende_coursenavigation{{/str}}">
                                                    Optional
                                                    {{#pix}}docs, core{{/pix}}
                                                </span>
                                            {{/optional}}
                                        {{/available}}
                                        {{^available}}
                                            <div class="activityname" title="{{name}}">
                                                {{#shortentext}} 80, {{{name}}}{{/shortentext}}
                                            </div>
                                        {{/available}}
                                    </div>
                                    {{/label}}
                                    {{#label}}
                                        <div class="content-separator" title="{{labelcontent}}">
                                            <h6 class="title">
                                                {{#shortentext}} 80, {{labelcontent}}{{/shortentext}}
                                            </h6>
                                        </div>
                                    {{/label}}
                                </li>
                            {{/onlytitles}}
                        {{/modules}}
                    </ul>
                </div>
            </div>
        </div>
    {{/sections}}
</div>
{{#js}}
require(['block_aprende_coursenavigation/expanded-section'], function(sections) {
    sections.init(".block_aprende_coursenavigation .section-group");
});
{{/js}}
