---

name: "Single Plugin Pipeline Dispatch"
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev
      - qa
      - stg

jobs:
  single_plugin_pipeline_dispatch:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - name: "prepare environment"
        run: |
          # Generate VARIABLES
          K8S_NAMESPACE="${{ github.ref }}"
          K8S_NAMESPACE="${K8S_NAMESPACE##*/}"
          HEAD_COMMIT_MESSAGE=$(echo "${{ github.event.head_commit.message }}" | tr -ds "\n" " ")

          # Save them to ENV
          echo "K8S_NAMESPACE=${K8S_NAMESPACE}" | tee -a "${GITHUB_ENV}"
          echo "HEAD_COMMIT_MESSAGE=${HEAD_COMMIT_MESSAGE}" | tee -a "${GITHUB_ENV}"

      - name: "Single Plugin Pipeline Dispatch"
        uses: peter-evans/repository-dispatch@v1.1.3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: Aprende-com/devops
          event-type: "single-plugin-pipeline-${{ env.K8S_NAMESPACE }}"
          client-payload: |
            {
              "repository": "${{ github.repository }}",
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}",
              "workflow": "${{ github.workflow }}",
              "head_commit_message": "${{ env.K8S_NAMESPACE }}",
              "run_id": "${{ github.run_id }}",
              "run_number": "${{ github.run_number }}",
              "actor": "${{ github.actor }}"
            }
